@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(180deg, #120000 0%, #000000 100%);
  color: white;
  min-height: 100vh;
}