.app-footer {
    background-color: #000;
    border-top: 1px solid #111;
}

.footer-nav-link {
    color: #9ca3af;
    /* Gray-400 */
    transition: color 0.3s;
    font-size: 0.9rem;
}

.footer-nav-link:hover {
    color: #4ade80;
}

.separator {
    width: 1px;
    height: 16px;
    background-color: #166534;
    /* Dark Green */
    margin: 0 1.5rem;
}

.social-icon {
    width: 24px;
    height: 24px;
    fill: #9ca3af;
    transition: fill 0.3s;
}

.social-icon:hover {
    fill: #fff;
}